body, html{
	padding:0;
	padding-top:40px;
	padding-bottom:10px;
	margin:0;
	background: #F4FAFF;
	font-family: 'Poppins', sans-serif;
	color:#03191E;
}

h1{
	color:#C1CFDA;
}

a{
	text-decoration: none;
	color:inherit;
}

a:hover{
	color:#C1CFDA;
}

button{
	font-family: inherit;
	height:35px;
	border-radius:5px;
	border:0;
	background: #20A4F3;
	color:#F4FAFF;
	font-size: 1.2em;
	font-weight: 300;
	cursor:pointer;
	outline: none;
}

button:hover{
	background:#31B5F4;
}

h2{
	font-weight: 500;
}

label{
	width:100%;
	display:block;
	margin-bottom: 5px;
	margin-top: 15px;
}

.disabled{
	background:#A7D5EF;
	cursor:default;
}

input[type=range]{
	width:90%;
	margin:auto;
}

.disabled:hover{
	background:#A7D5EF;
}

.btnFull{
	width:100%;
}

#logo{
	width:100%;
	position:absolute;	
	top:5px;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
}

#footer{
	width:100%;
	position:absolute;
	bottom:5px;
	text-align: center;
	font-size: 0.9em;
	font-weight: 300;
}

#footer a{
	font-weight: 500;
}

#footer i{
	display:inline-block;
	vertical-align: middle;
	font-size: 1.2em;
}

#box{
	width:480px;
	margin:auto;
	background:#FAFAFA;
	border-radius:5px;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	padding:20px;
  	text-align:center;
  	max-height:70vh;
  	overflow: auto;
}

#box button{
	margin-bottom:20px;
	margin-top:20px;
}

.numberChange{
	padding-left:5px;
	padding-right:5px;
	border:1px solid #C1CFDA;
	font-size: 1.1em;
	border-radius: 3px;
	margin: 0 5px 0 5px;
}

.hidden{
	display:none;
}

#browserError{
	text-align: center;
	font-weight: 300;
}

#panel{
	width:95%;
	margin:auto;
}

#queue{
	background:#FAFAFA;
	border-radius:5px;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	padding:10px;
}

.process{
	width:50px;
	height:30px;
}